header {
  /*background: rgb(123,163,118);
  background: radial-gradient(circle, rgba(123,163,118,1) 18%, rgba(68,87,93,1) 65%, rgba(2,6,2,1) 100%);*/
  border-bottom: 1px solid white;
  height: 100px;
  width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.02em;
  font-family: "Orbitron";
  color: rgb(123, 163, 118);
  background: none;
  border: none;
}

.top-logo:hover {
  background-color: rgb(123, 163, 118);
  color: black;
  border-radius: 50px;
}

span {
  color: white;
}

.navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  font-family: "Orbitron";
  color: white;
  width: 152px;
  height: 64px;
  margin: 20px;
  background: rgb(123, 163, 118);
  background: radial-gradient(circle, rgb(123, 163, 118) 18%, rgb(68, 87, 93) 65%, rgb(2, 6, 2) 100%);
  border-radius: 50px;
  border: none;
}

.nav:hover {
  background-color: white;
  color: black;
}

footer {
  height: 100px;
  width: 1250px;
  border-top: 1px solid white;
  /*background: rgb(123,163,118);
  background: radial-gradient(circle, rgba(123,163,118,1) 18%, rgba(68,87,93,1) 65%, rgba(2,6,2,1) 100%);*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bottom-logo {
  margin: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  font-family: "Orbitron";
  color: rgb(123, 163, 118);
  background: none;
  border: none;
}

.bottom-logo:hover {
  background-color: rgb(123, 163, 118);
  color: black;
  border-radius: 50px;
}

.site-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-map-btn {
  background: none;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  font-family: "Orbitron";
  color: white;
  border: none;
  margin: 20px;
}

.site-map-btn:hover {
  background-color: white;
  color: black;
  border-radius: 50px;
}

body {
  background-image: url(../images/background.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  height: 400px;
  margin: 50px;
}

h2 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: start;
  letter-spacing: 0.02em;
  color: white;
  margin: 20px;
}

p {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: start;
  letter-spacing: 0.02em;
  color: white;
  margin: 20px;
}

.info {
  margin: 20px;
  height: 345px;
  width: 400px;
  border-radius: 20px;
  border: 2px solid white;
}

.garden {
  width: 650px;
  height: 350px;
  margin: 30px;
  border-radius: 20px;
  border: 2px solid white;
}